.list {
  display: flex;
  justify-content: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: -10px;
  list-style: none;
}

.button {
  min-width: 100px;
  margin: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 2px solid;
  font-family: inherit;
  font-size: 20px;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.25s;
}

.button:hover,
.button:focus {
  border-color: #3a098a;
  background-color: #6608fd;
  color: #fff;
  box-shadow: 0 0.5em 0.5em -0.4em #6608fd;
  transform: translateY(-0.2em);
}
